body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-container {
    background-color: white;
    width: 60vw;
    height: 80vh;
    border-radius: 5px;
    border: 1px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 0 10px rgba(145, 190, 38, 0.1);
}



.child1 {
    /* border: 2px solid red; */
    width: 60%;
    height: 85%;
    padding: 30px;
    margin-bottom: 30px;

}
#form-1{
    /* border:  2PX solid blue; */
    height: 70%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.name-container{
    /* border: 2px solid red; */
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:space-between;

}
.FName, .LName{
    width: 45%;
    height: 100%;
    /* border:  2px solid gray; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#first_name , #last_name{
     /* width: 100%; */
    height: 60%;
    /* border: 2px solid blue; */
    

}
.error1{
    /* border: 2px solid greenyellow; */
    width: 100%;
    height: 40%;
    font-size: 12px;
    color: red;

}
.email-container{
    display: flex;
    flex-direction: column;
    width: 97%;
    border: 2px solid pi;
}
#email{
    width: 100%;
    height: 70%;
    /* border: 2px solid red; */
}
/* #emailErr{
    
} */
.password-container{
    /* border: 2px solid red; */
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:space-between;

}
.password, .conf-password{
    width: 45%;
    height: 100%;
    /* border:  2px solid gray; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#first_name , #last_name{
     /* width: 100%; */
    height: 60%;
    /* border: 2px solid blue; */
    

}

.child2 {
    /* border: 2px solid yellow; */
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.child2_image {
    width: 100%;
    height: 60%;
    /* margin: 50px; */
    /* border: 2px solid black; */
    display: flex;
    align-items: flex-end;
    justify-content: center;


}

.child2_text {
    width: 100%;
    height: 40%;
    /* border: 2px solid rgb(141, 20, 20); */

}
#text1{
    font-size: medium;
    margin-left: 20px;
    margin-right: 20px;
    /* align-items: flex-start; */
    text-align: center;
}



.signup-container h1 {
    margin-bottom: 20px;
}
/* .name-container{
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
}
.f-name-container{
    border: 2px solid blue;
    width: 45%;
}
#first_name{
    width: 90%;
}
#last_name{
    width: 90%;
}
.l-name-container{
    border: 2px solid blueviolet;
    width: 45%;
} */


form .name-container,
form .email-container,
form .password-container {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

form input {
    flex: 2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form .email-container input {
    flex: 1 1 auto;
    padding-right: 0;
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

form .email-container .email-domain {
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-left: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 0 10px;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

form button:hover {
    background-color: #357ae8;
}

.login-link {
    text-align: center;
    margin-top: 20px;
}

.login-link a {
    color: #4285f4;
    text-decoration: none;
}